 <!-- MENU SIDEBAR-->
 <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="<%= process.env.ASSETURL %>images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="/admin/home">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/courses">
                        <i class="fas fa-chart-bar"></i>Courses</a>
                </li>
                <li>
                    <a href="/admin/teachers">
                        <i class="fas fa-table"></i>Teachers</a>
                </li>
                <li>
                    <a href="/admin/students">
                        <i class="far fa-check-square"></i>Students</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->